*.dcu
*.rsm
*.~*
*.dsk
*.stat
*.identcache
sampled.debug
sampled.sampling
*.ini
*.map
SpecBAS.drc
src/SpecBAS_project.tvsconfig
src/bass.dll
src/bass64.dll
*.rar
payload.bin
/src/lib
/src/backup
/src/ConverterBackup
src/AutomaticConversion.log
FastMM_FullDebugMode.dll
FastMM_FullDebugMode64.dll
bugreport.txt
SpecBAS_MemoryManager_EventLog.txt
*.mes
